<h1>Budget calculator</h1>
<p>
    This is a simple budget calculator. <br/>
    The goal is simple, pick your products and configure them to get the cost of your budget. <br/>
    As simple is it is simple is to use. You not need any learning to use this app. You can start using it since moment you
    click on the link at the bottom of the page.
</p>
<h3>Choose your products</h3>
<p>
    You might choose between a digital products list. <br/>
    Multi selection is allowed. So you could make the combinations you most like and get the cost of
    all together. Catalog contains web pages, seo and sem services.
</p>
<h3>Customize your picks</h3>
<p>
    In some of the products you will be able to customize the detail of the product. <br/>
    For example, you can choose the number of pages and the number of languages your web will have if you
    choose a web page. <br/>
    As more details you configure you gonna obtain more accurate cost.
</p>
<a routerLink="/home" routerLinkActive="active">
    <span>Go to calculator</span> 
    <fa-icon [icon]="faCalculator" [style.color]="'gray'"></fa-icon>
</a>