<form [formGroup]="webDetailsForm" id="webDetails">
    <span [style.fontStyle]="'italic'">* Base price includes one page and one language</span>
    <div>
        <input type="number" name="numberPages" id="numberPages" formControlName="numberPages" min="1">
        <label for="numberPages">Pages number</label>
    </div>
    <div>
        <input type="number" name="numberLanguages" id="numberLanguages" formControlName="numberLanguages" min="1">
        <label for="numberLanguages">Languages number</label>
    </div>
</form>